:root {
    --dark: #212529;
    --darker: #111519;
    --light-gray: #dddddd;
    --light-gray-hover: #c7c6c6;
    --light-gray-darker: #bdbdbd;
    --light-gray-dark: #a0a0a0;
    --primary: #ffd900;
    --primary-hover: #ecbd00;
    --primary-dark: #a88700;
    --green: #45d174;
    --red: #e25353;
    --light: #f0f0f0;
}

::selection {
    background-color: var(--primary);
    color: var(--dark);
}

/*
* {
  outline: 1px red solid;
}
*/

@import url('https://fonts.cdnfonts.com/css/gogh');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--light);
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}

p {
    color: var(--dark);
}

h1 {
    color: var(--dark);
    font-weight: 700;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* header */

#nav {
    position: sticky;
    top: 0;
    z-index: 100;
    user-select: none;
    font-family: "gogh", sans-serif;
}

#header div span {
    cursor: pointer;
    color: #FFFFFF;
}

#header div span:hover {
    transition: 0.4s;
    color: var(--light-gray-darker)!important;
}

#header {
    background-color: var(--dark);
}

#search-field {
    width: 100%;
}

#brand-name {
    display: block;
    color: #FFFFFF;
    margin: auto;
}

#brand-name h1 {
    color: #FFFFFF;
}

/* nav menu of produt types */

#navmenu div {
    background-color: var(--dark);
    border-top: 2px solid var(--darker)!important;
    border-bottom: 2px solid var(--darker)!important;
    cursor: pointer;
}

.navmenu-btn {
    padding-top: 5px;
    padding-bottom: 5px; 
    width: 100%;
}

.navmenu-btn a{
    color: var(--light-gray);
    font-weight: 500;
}

.navmenu-btn-main a{
    color: var(--primary);
    font-weight: 900;
}

.navmenu-btn-main a:hover {
    transition: 0.2s;
    color: var(--primary-hover);
}

.navmenu-btn:hover .navmenu-btn:active {
    transition: 0.2s;
    color: #FFFFFF;
}

/* cart in nav styles */

#shoping-cart {
    color: var(--light-gray);
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 0;
    
}

#shopping-cart-content {
    background-color: var(--dark);
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 0;
    border-top: 2px solid var(--darker);
    border-bottom: 2px solid var(--darker);
}

.shopping-cart-product {
    background-color: var(--light);
    color: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
    margin: 5px 0px 10px 0px;
    padding: 5px;
}

.product-name {
    color: var(--darker);
    font-weight: 600;
    padding: 5px 10px;
    margin: 0;
}

.add-product {
    text-align: center;
    font-weight: 900;
    min-width: 30px;
    min-height: 30px;
    color: var(--darker);
    background-color: var(--primary);
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    margin: 0;
}

.minus-product {
    text-align: center;
    font-weight: 900;
    min-width: 30px;
    min-height: 30px;
    color: var(--darker);
    background-color: var(--primary);
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    margin: 0;
}

.add-product:hover {
    background-color: var(--primary-hover);
}

.minus-product:hover {
    background-color: var(--primary-hover)
}

.product-price {
    margin: 0;
    padding: 5px 0px;
}

#shopping-cart-total-price {
    color: #FFFFFF;
    font-size: larger;
}

#purchase-btn {
    padding: 10px 20px 10px 20px;
    margin: 0;
    text-align: center;
    font-weight: 550;
    background-color: var(--primary);
    color: var(--dark);
    user-select: none;
    cursor: pointer;
}

#purchase-btn:hover {
    transition: 0.1s;
    background-color: var(--primary-hover);
}

/* other */

.promo {
    width: 100%;
    max-height: 1080px;
}

/* footer */

.footer-text {
    color: var(--light-gray-dark);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-family: "gogh", sans-serif;
}

.footer-link {
    text-align: center;
    color: var(--light-gray-dark);
    font-family: "gogh", sans-serif;
    cursor: pointer;
    user-select: none;
}

.footer-link:hover {
    color: var(--light-gray-hover);
}