.step {
    border-top: var(--darker) 2px solid;
    padding: 10px 0px;
}

.step-name {
    font-size: xxx-large;
    font-weight: 900;
    color: var(--light-gray);
    user-select: none;
    padding: 0px 5px;
}


.step-content {
    padding: 0px 10px;
}

.step-content form div {
    margin: 5px 0px;

}

.step-info {
    font-size: larger;
    font-weight: 500;
}

.step-next-btn {
    background-color: var(--dark);
    padding: 10px 15px;
    margin: 5px;
    max-width: 130px;
    max-height: 50px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.step-next-btn:hover {
    background-color: var(--darker);
}

.step-next-btn p{
    padding: auto;
    margin: auto;
    text-align: center;
    color: var(--light-gray);
}

#shopping-cart-short {
    background-color: var(--light-gray);
    padding: 5px 10px;
}

#shopping-cart-short p {
    margin: 5px 0px;
}

/* shopping cart check */

#shoping-cart {
    color: var(--light-gray);
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 0;
    
}

#shopping-cart-content {
    background-color: var(--dark);
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 0;
    border-top: 2px solid var(--darker);
    border-bottom: 2px solid var(--darker);
}

.shopping-cart-product {
    background-color: var(--light);
    color: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
    margin: 5px 0px 10px 0px;
    padding: 5px;
}

.product-name {
    color: var(--darker);
    font-weight: 600;
    padding: 5px 10px;
    margin: 0;
}

.add-product {
    text-align: center;
    font-weight: 900;
    min-width: 30px;
    min-height: 30px;
    color: var(--darker);
    background-color: var(--primary);
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    margin: 0;
}

.minus-product {
    text-align: center;
    font-weight: 900;
    min-width: 30px;
    min-height: 30px;
    color: var(--darker);
    background-color: var(--primary);
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    margin: 0;
}

.add-product:hover {
    background-color: var(--primary-hover);
}

.minus-product:hover {
    background-color: var(--primary-hover)
}

.product-price {
    margin: 0;
    padding: 5px 0px;
}

#shopping-cart-total-price {
    color: #FFFFFF;
    font-size: larger;
}

#purchase-btn {
    padding: 10px 20px 10px 20px;
    margin: 0;
    text-align: center;
    font-weight: 550;
    background-color: var(--primary);
    color: var(--dark);
    user-select: none;
    cursor: pointer;
}

#purchase-btn:hover {
    transition: 0.1s;
    background-color: var(--primary-hover);
}
.form-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--light-gray-dark);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .125rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-input:focus {
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--primary);
}

/* right window */

.price {
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: 500;
    margin: 20px 0;
}

.price-discount {
    text-decoration: underline;
}

.price-final {
    font-size: 1.3rem;
    font-weight: 700;
    border-top: 2px solid var(--dark);
    padding: 15px 0;
}

#make-purchace {
    background-color: var(--dark);
    user-select: none;
    cursor: not-allowed;
}

#make-purchace:hover {
    transition: 0.2s;
    background-color: var(--darker);
}

#make-purchace p{
    color: var(--primary);
    text-align: center;
    padding: 15px;
    font-size: 1.25rem;
    font-weight: 700;
}