.step {
    border-top: var(--darker) 2px solid;
    padding: 10px 0px;
}

.step-name {
    font-size: xxx-large;
    font-weight: 900;
    color: var(--light-gray);
    user-select: none;
    padding: 0px 5px;
}


.step-content {
    padding: 0px 10px;
}

.step-content form div {
    margin: 5px 0px;

}

.step-info {
    font-size: larger;
    font-weight: 500;
}

.step-next-btn {
    background-color: var(--dark);
    padding: 10px 15px;
    margin: 5px;
    max-width: 130px;
    max-height: 50px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.step-next-btn:hover {
    background-color: var(--darker);
}

.step-next-btn p{
    padding: auto;
    margin: auto;
    text-align: center;
    color: var(--light-gray);
}

#shopping-cart-short {
    background-color: var(--light-gray);
    padding: 5px 10px;
}

#shopping-cart-short p {
    margin: 5px 0px;
}


/* right window */

.price {
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: 500;
    margin: 20px 0;
}

.price-discount {
    text-decoration: underline;
}

.price-final {
    font-size: 1.3rem;
    font-weight: 700;
    border-top: 2px solid var(--dark);
    padding: 15px 0;
}

#make-purchace {
    background-color: var(--dark);
    user-select: none;
    cursor: pointer;
}

#make-purchace:hover {
    transition: 0.2s;
    background-color: var(--darker);
}

#make-purchace p{
    color: var(--primary);
    text-align: center;
    padding: 15px;
    font-size: 1.25rem;
    font-weight: 700;
}