:root {
    --dark: #212529;
    --darker: #111519;
    --light-gray: #dddddd;
    --light-gray-hover: #c7c6c6;
    --light-gray-darker: #bdbdbd;
    --light-gray-dark: #a0a0a0;
    --primary: #ffd900;
    --primary-hover: #ecbd00;
    --green: #45d174;
    --red: #e25353;
    --light: #f0f0f0;
}

::selection {
    background-color: var(--primary);
    color: var(--dark);
}
/*
* {
  outline: 1px red solid;
}
*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--light);
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}

p {
    color: var(--dark);
}

h1 {
    color: var(--dark);
    font-weight: 700;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 100;
    user-select: none;
}

#header div span {
    cursor: pointer;
    color: #FFFFFF;
}

#header div span:hover {
    color: var(--light-gray-darker)!important;
}

#header {
    background-color: var(--dark);
}

#navmenu div {
    background-color: var(--dark);
    border-top: 2px solid var(--darker)!important;
    border-bottom: 2px solid var(--darker)!important;
    cursor: pointer;
}

.navmenu-btn {
    padding-top: 5px;
    padding-bottom: 5px; 
    width: 100%;
}

.navmenu-btn a{
    color: var(--light-gray);
    font-weight: 500;
}

.navmenu-btn-main a{
    color: var(--primary);
    font-weight: 900;
}

.navmenu-btn-main a:hover {
    color: var(--primary-hover);
}

.navmenu-btn:hover .navmenu-btn:active {
    color: #FFFFFF;
}

#brand-name {
    display: block;
    color: #FFFFFF;
    margin: auto;
}

#brand-name h1 {
    color: #FFFFFF;
}


.footer-text {
    color: var(--light-gray-dark);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

 #search-field {
    width: 100%;
 }

/* index.html styles */

.promo {
    width: 100%;
}

#main-title1 div div {
    margin-left: 5px;
    margin-right: 5px;
}

/* clothes.html styles */

#filter {
    background-color: var(--dark);
    color: var(--light-gray);
    user-select: none;
    border-top: 2px solid var(--darker);
    border-bottom: 2px solid var(--darker);
}

#filter h3 {
    margin-top: 5px;
    color: var(--primary)!important;
}

#filter h3:hover {
    color: var(--primary-hover)!important;
}

#filter a {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: var(--light-gray);
}

#filter p:hover {
    color: var(--light-gray-hover);
}


#filter2 {
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;
}

#products {
    padding: 5px;
}

.product {
    padding: 5px;
}
.product-name {
    color: var(--darker);
    font-weight: 700;
    margin: 5px 10px;
}

.product-price {
    color: var(--dark);
    font-weight: 400;
    margin: 5px;
}

/* product.html styles */
#product-img {
    max-width: 1000px;
    max-height: 1000px;
    object-fit: contain;
}

#product-info-div {
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#product-info-div p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#product-info {
    color: var(--dark);
}

#add-one {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 1px;
    user-select: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
}

#add-one p {
    margin: auto;
    padding: auto;
    text-align: center;
}

#product-number-to-add {
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
}

#minus-one {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 1px;
    user-select: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
}

#minus-one p {
    margin: auto;
    padding: auto;
    text-align: center;
}

#product-number-to-add-form {
    margin: 10px 15px;
}

#buy-btn {
    background-color: var(--primary);
    color: var(--dark);
    border: none;
    border-radius: 1px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

/* cart in nav styles */

#shoping-cart {
    color: var(--light-gray);
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 0;
    
}

#shopping-cart-content {
    background-color: var(--dark);
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 0;
    border-top: 2px solid var(--darker);
    border-bottom: 2px solid var(--darker);
}

.shopping-cart-product {
    background-color: var(--light);
    color: var(--dark);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    margin: 5px 0px 10px 0px;
    padding: 5px;
}

.add-product {
    text-align: center;
    font-weight: 900;
    min-width: 30px;
    min-height: 30px;
    color: var(--darker);
    background-color: var(--primary);
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
}

.minus-product {
    text-align: center;
    font-weight: 900;
    min-width: 30px;
    min-height: 30px;
    color: var(--darker);
    background-color: var(--primary);
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
}

#shopping-cart-total-price {
    color: #FFFFFF;
    font-size: larger;
}

#purchase-btn {
    padding: 10px 20px 10px 20px;
    margin: 0;
    text-align: center;
    font-weight: 550;
    background-color: var(--primary);
    color: var(--dark);
    user-select: none;
    cursor: pointer;
}

#purchase-btn:hover {
    background-color: var(--primary-hover);
}

/* shoppingCart.html styles */

.step {
    border-top: var(--darker) 2px solid;
    padding: 10px 0px;
}

.step-name {
    font-size: xxx-large;
    font-weight: 900;
    color: var(--light-gray);
    user-select: none;
}

.step-content form div {
    margin: 5px 0px;

}

.step-info {
    font-size: larger;
    font-weight: 500;
}

.step-next-btn {
    background-color: var(--dark);
    padding: 10px 15px;
    margin: 5px;
    max-width: 130px;
    max-height: 50px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.step-next-btn p{
    padding: auto;
    margin: auto;
    text-align: center;
    color: var(--light-gray);
}
/* 404.html styles */

.link {
    margin: 5px 0px 5px 0px;
    padding: 5px 10px;
    font-weight: 550;
    background-color: var(--dark);
    color: var(--primary);
    user-select: none;
    text-align: center
}

.link:hover {
    color: var(--primary-hover);
}